.formu{
  background-color: white;
  color: black;
}

.proTable{
  background-color: white;
  color: black;
  padding-top: 30px;
  padding-bottom: 30px;
}

.imge{
  width: 250px;
  height: 250px;
}

.productos{
  text-decoration: none;
  color: black;
}

.precio{
  font-size: 20px;
  margin-left: 50px;

}

.texto{
  color: black;
}
